<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href="#/">Limes and Vines</a>
        </div>

        
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/">Home</a>
                </li>
                <li><a href="#/about">About Us</a>
                </li>
                <li><a href="#/news">News</a>
                </li>
                <li><a href="#/gallery">Gallery</a>
                </li>
                <li><a href="#/shop">Shop</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a target="_blank" title="follow us on Twitter" href="http://www.twitter.com/"><img alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a>
                </li>
                <li><a target="_blank" title="follow us on facebook" href="http://www.facebook.com/"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>
                </li>
                <li><a target="_blank" title="follow us on youtube" href="http://www.youtube.com/"><img alt="follow me on youtube" src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube30x30.png" border=0></a>
                </li>
                <li><a target="_blank" title="follow us on instagram" href="http://www.instagram.com/"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a>
                </li>
                <li><a  href="#/signup">Sign Up</a>
                </li>
                <li><a  href="#/login">Log In</a>
                </li>
            </ul>
        </div>
        
    </div>
   
</nav>
