.acme-navbar-text {
  color: white;

}
acme-navbar .container{
	position: absolute;
}

@media screen and (min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar .navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar .navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

@media (max-width:768px) {
    .navbar-collapse{
        background-color: #333;
    }
}