.musicPlaylist{
	padding: 5px;
}

.musicPlaylist ol{
    list-style-type: decimal;
    color: #fff;
}

.musicPlaylist .play-btn{
    background-color: transparent;
    color: #fff;
    border-style: none;
}
.video-container{
	padding:20px;
	
}