<div class="container">
	<ul class="col-md-4">
		<img class="img-responsive" ng-src="{{audio.icon}}">
		<br>
		<h2>Clarksville</h2>
		<audio controls>
			<source ng-src="{{player.activeTrack.url}}" type="audio/mpeg">
		</audio>
		<ol>
			<li ng-repeat="audio in list">
				<button ng-click="player.playTrack(audio);">{{audio.title}}</button>
			</li>
		</ol>
	</ul>
	<ul class="col-md-4">
		<img class="img-responsive" src="assets-band/assets/images/beatles.jpg">
		<br>
		<h2>Flat Out</h2>
		<audio controls>

		</audio>
		<ol>
			<li><a href="assets-band/assets/audio/Clarksville.mp3">Clarksville.mp3</a></li>
			<li><a href="assets-band/assets/audio/DaydreamBeliever.mp3">DaydreamBeliever.mp3</a></li>
		</ol>

	</ul>
	<ul class="col-md-4">
		<img class="img-responsive" src="assets-band/assets/images/nband2.jpg">
		<br>
		<h2>Hall of Fame</h2>
		<audio controls>

		</audio>
		<ol>
			<li><a href="assets-band/assets/audio/Clarksville.mp3">Clarksville.mp3</a></li>
			<li><a href="assets-band/assets/audio/DaydreamBeliever.mp3">DaydreamBeliever.mp3</a></li>
		</ol>

	</ul>

</div>