.slider_container {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  position: relative;
  width: 100%;
 
 
}

.slider {
  width: 100%;
  display: block;
  background: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
}


.subs {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  position: relative;
  padding-top: 5em;
  width: 100%;
  height: 50%;
}

.subs .srow {
  display: block;
  margin: 2px;
  position: relative;
  bottom: 0px;
  padding: 15px;
  text-align: center;
  background-color: #cce6ff;
  border: 4px solid #cce6ff;
}
.big-btn{
padding: 10px 0px 11px 0px;
width: 235px;
margin-top:5px;
}

.big-btn i{
font-size: 65px;
margin-right: 0px !important;
}
.big-btn strong{
font-size: 20px;
text-shadow: 1px 2px 0px #34659B;
color: #fff;
line-height: 24px;
}
.big-btn .btn-text{
margin-top:6px;
}

.big-btn small{font-size: 75%;}

.android-btn{

width: 235px;
padding: 13px 17px 13px 0px;
background-color: #000;
border-color: #000;

}
.android-btn:hover{
background-color: #272727;
}

.android-btn i{
font-size: 55px;
}

.android-btn .btn-text{
margin-top: 0px;
}

.android-btn strong{
font-size: 20px;
text-shadow: none;
color: #fff;
line-height: 24px;
}
div .footer{
   padding-top: 20px;
   height:5em;


}
footer #footer-bottom{
  color:black;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  
  background-color: #b3b3b3;

}

@media (min-width: 1200px) {
  .slider_container {
    width: 100%;
    height: 658.125px;
    position:relative;
  }
  .subs {
  display: flex;
  flex-flow:row wrap;
  box-sizing: border-box;
  position: relative;
  padding-top:5em;
  width: 100%;
  height: 50%;
}
  
 
}

@media (min-width: 992px) and (max-width: 1199px) {
  .slider_container {
    width: 940px;
    height: 328.75px;
     position:relative;
  }
  .subs {
  display: block;
  
  box-sizing: border-box;
  position: relative;
 
  width: 100%;
  height: 50%;
}
  
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_container {
    width: 728px;
    height: 409.5px;
     position:relative;
  }
   .subs {
  display: block;
 
  box-sizing: border-box;
  position: relative;
 margin-top:150px;
  padding-top: 100em;
  width: 100%;
  height: 50%;
}
   
}
