/*.slider_container{
	display: flex;    
	flex-flow: row wrap;  
	box-sizing:border-box;
	position:relative;
}
.slider {
    width:100%;
    height:100%;
    display:block;
    padding:0px;
    background: inherit;
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    
    margin-top:0;
    position: absolute;
    top:0;
    left: 0;
     
}*/

