body{
  padding-top: 50px;
    padding-bottom: 20px;
  }
  .browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}
.jumbotron.brand h1{
	color: #cc0000;
  position:absolute;
  top:5em;
  bottom:5em;
}
.container {
	width:100%;
	max-width: 100%;
  position: relative;
  display:block;
}
.jumbotron {
	height:100%;
	width:100%;
	background-color:inherit;
}
.form-container{
	background-color:#ffcccc;
	
}

.text-container{
  text-align: justify; 
}

.row .team{
  padding-top: 50px;
  min-height: 200px;
}
.details .para{
  text-align: justify;

}
.details h3{
  font-weight: bold;
}

.image {
  width:500px;
  height:310px;
  margin:10px;
  padding: 10px;
 }
 .section{
  padding:10px;
  margin:10px;
 }

 .container.album{
  background-color: #000;
  border-radius: 1px;
  border: 4px solid #000;
  padding: 50px;
 }
 .row h2{
  color: #fff;
  font-weight: bold;
 }
 .card_image{
  border: 15px solid #fff;
  display: flex;    
  flex-flow: row wrap;  
  box-sizing:border-box;
  min-width:240px;
  width:250px;
  height:175px;
 }




.windows-btn{
background-color:#008A00;
width: 235px;
padding: 13px 5px 13px 10px;
border-color: #055805;
}

.windows-btn:hover{
background-color: #008A00;
}
.windows-btn .btn-text{
text-shadow: none;
font-size: 26px;
line-height: 25px;
}

div .table-responsive{
  display:block;
  padding-top: 5px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 75%;
  height:100%;
}
div .head{
  padding-top:75px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #000066;
  font-weight: bolder;
}
