body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.jumbotron.brand h1 {
  color: #cc0000;
  position: absolute;
  top: 5em;
  bottom: 5em;
}

.container {
  width: 100%;
  max-width: 100%;
  position: relative;
  display: block;
}

.jumbotron {
  height: 100%;
  width: 100%;
  background-color: inherit;
}

.form-container {
  background-color: #ffcccc;
}

.text-container {
  text-align: justify;
}

.team {
  padding-top: 50px;
  min-height: 200px;
}

.para{
  text-align: justify;
}

h3{
  font-weight: bold;
}

.image {
  width: 500px;
  height: 310px;
  margin: 10px;
  padding: 10px;
}


.section {
  padding: 10px;
  margin: 10px;
}

.container.album {
  background-color: #000;
  border-radius: 1px;
  border: 4px solid #000;
  padding: 50px;
}

.card_image {
  border: 15px solid #fff;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  min-width: 240px;
  width: 250px;
  height: 175px;
}

div .table-responsive {
  display: block;
  padding-top: 5px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 75%;
  height: 100%;
}

div .head {
  padding-top: 75px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #000066;
  font-weight: bolder;
}
